<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <div [ngStyle]="{
    'background':config.fondo,
    'padding': '20px',
    'border' : '5px solid black',
    'border-color' : config.color 
}">
    <span>{{ title }} app is running! </span>
    <span>{{ texto }}</span> -->


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

    <!-- <button (click)="ocultarVideojuegos(false)" *ngIf="mostrar_videojuegos">Ocultar Videojuegos</button>
    <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrar_videojuegos">Visualizar Videojuegos</button>

    <videojuego *ngIf="mostrar_videojuegos"></videojuego>
    <div style="text-align:center">
        <dado></dado>
        <dado></dado>
        <dado></dado>
    </div> 

    <button (click)="ocultarZapatillas(false)" *ngIf="mostrarZapatillas">Ocultar Zapatillas</button>
    <button (click)="ocultarZapatillas(true)" *ngIf="!mostrarZapatillas">Visualizar Zapatillas</button>

    <zapatillas *ngIf="mostrarZapatillas"></zapatillas>
    <nombre></nombre>
    <videojuego></videojuego>
    <pipes></pipes>
</div> -->

<nav>
    <a [routerLink]="['']">Home</a> &nbsp;
    <a [routerLink]="['zapatillas']">Zapatillas</a> &nbsp;
    <a [routerLink]="['videojuego']">Videojuegos</a> &nbsp;
    <a [routerLink]="['nombre']">Nombre</a> &nbsp;
    <a [routerLink]="['pipes']">Datos</a> &nbsp;
    <a [routerLink]="['dado']">Dado</a> &nbsp;
</nav>
<router-outlet></router-outlet>
